DB_NAME=datban_db
DB_USERNAME=datban
DB_PASSWORD=change-this-local-password
DB_ROOT_PASSWORD=change-this-root-password
DB_HOST_PORT=3308
BACKEND_PORT=8080
FIREBASE_ENABLED=false
REQUIRE_AUTH=false
# Set both values below when Firebase is enabled.
FIREBASE_CREDENTIALS_HOST_PATH=./secrets/firebase-service-account.json
